 *{
padding: 0;
/* margin: 0; */
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
color:white;
}
p{
    color: black;
}
  body{
      margin: 20px;
      background-image: url(wall.jpg);
    }
.socialicons{
    align-items:flex-end;
}
.navbar{
    width: 85%;
    margin-top: 5%;
    padding: 10px 0;
 display: flex;
 align-items: right;    
 justify-content: space-between;

}
.logo{
    margin-top:5% ;
    width:120px;
    cursor:pointer;
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}
.navbar ul li::after{
content: '';
height: 3px;
width: 0;
position: absolute;
left: 0;
bottom: -10px;
background-color: #009688;
transition: width 0.3s;
}
.navbar ul li:hover:after{
    width: 100%;

}
h1{
    font-size: 20px;
    text-align: center;
}
p{
    text-align: center;
}
#technologies{
    background-color: #00BFFF;
}
i{
    font-size: 30px;
    color: white;
;
}
.carousel-item img{
    height:auto; 
    width: 100%;

}